body{
    background-color: #f0f3fa;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 3% 25%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    padding: 0px 10px;
}

.container img{
    width: 120px;
    height: 80px;
    border-radius: 10px;
}

.table-1 {
    border-collapse: collapse;

}

.table-1 th,
.table-1 td {
    padding: 10px;
    border: 1px solid black;
}

.table-1 th{
    background-color: #122e5d;
    color: white;
}

.lists-1{
    display: flex;
    gap: 10px;
    flex-direction: row;
}